<ion-view title="Mis producciones">
	<ion-content ng-init="getMySubprocessChildren()">
		<ion-refresher
	      pulling-text="Soltar para recargar..."
	      on-refresh="getMySubprocessChildren()">
	    </ion-refresher>
	    <!-- lista de ped -->
		<ion-list ng-repeat="subprocess_child in subprocess_children">
			<ion-item>
				<h2> {{ subprocess_child.id }} </h2>
				<p> 
					{{ subprocess_child.attributes.state }}
					<span am-time-ago="subprocess_child.attributes.created_at"></span>
				</p>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>